# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore virtual environment folders
venv/
env/

# Ignore environment variables file
.env

# Ignore VS Code specific files (optional, but good practice)
.vscode/